**/x86
**/x64
**/Debug
**/Release
.build/
*.user
*.vs
VisualStudio
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
libOP2Utility.a

# Nuget
**/packages

# Vcpkg
**/vcpkg_installed/

# CMake build output
build/
/build*/
*.dll
*.dll.a
*.exe
